header {
	height: 510px;
	box-sizing: border-box;
	
	.himg {
	background-image: url("../img/6.jpg");
	background-size: cover;
	background-position: center;
	height: 600px;
		div {
		background-color: rgba(0, 0, 0, 0.5);
		height: 600px;
		width: 100%;
		position: absolute;
		color: white;
			h1 {
				font-size: 60px;
				color: $nav;
			}
		}
	}
}

		